<a [routerLink]="['/restaurants/add']" class="btn btn-primary">Agregar nuevo restaurant</a>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td>{{restaurant.name}}</td>
      <td> <a [routerLink]="['/restaurants/edit/', restaurant._id]" class="btn btn-warning">Editar</a> <button (click)="deleteRestaurants(restaurant._id)" class="btn btn-danger">Eliminar</button> </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="modalIngresar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>