<div class="row mt-5">
  <div class="col-md-6 mx-auto">
      <h2 class="text-center">Add Todo</h2>
      <div class="card mt-3">
          <div class="card-body">
            <form [formGroup]="restaurantForm" (ngSubmit)="addRestaurant()">
              <div class="form-group">
                <label class="col-md-4">Title </label>
                <input type="text" class="form-control" formControlName="name" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary col-md-4" [disabled]="restaurantForm.invalid">Ingresar</button>
                <a [routerLink]="['/restaurants']">
                  <button type="submit" class="btn btn-primary col-md-4 ml-1">Atras</button>
                </a>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>